 <link rel="stylesheet" href="/css/style.css">
<header class="admin-header">

<div class="header-left">
<button class="menu-toggle">☰</button>
<h2>Admin Panel</h2>
</div>

<div class="header-right">


<div class="admin-user">
<span>Admin</span>

</div>

</div>

</header>