<div class="sidebar">

<h2 class="logo">VEEK</h2>

<ul>

<li><a href="/admin/dashboard">Dashboard</a></li>

<li><a href="/admin/products">Products</a></li>

<li><a href="/admin/categories">Categories</a></li>

<li><a href="/admin/coupon">Coupons</a></li>

<li><a href="/admin/shipping-page">Shipping</a></li>

<li><a href="/admin/orders">Orders</a></li>

</ul>

</div>